.side_navbar{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 145px;
    height: 100vh;
}
.side_image{
    width: 30px;
    display: flex;
   position: relative;
   left: 20px;
   
}
.log_image{
    width: 30px;
    display: flex;
    text-align: center;
    position: relative;
    left: 20px;
    
}
.side_div{
    position: relative;
    top: 20px;
    text-align: center;
    
}
.log_nav{
    position: relative;
    top: 100px;
    text-align: center;
}
