.top_nav_navbar{
    position: absolute;
    margin-left: 145px;
    background-color: #fff;
}
.top_nav_userlogo{
    position: relative;
    width: 35px;
    height: 35px;
   
    border-radius: 50%;
    background: #E7E3FF;
}
.top_navbar_nav{
   position: relative;
   left: 1340px;
    padding-right: 20px;
}
.top_nav_belllogo{
    position: relative;
    padding-right: 15px;
    
}
.top_navbar_form{
    padding-right: 20px;
}
.leads{
    position: relative;
    top: 100px;
    left: 200px;
}
.select{
    position: relative;
    top: 72px;
    left: 240px;
}
.button-holder {
    display: flex;
  }
  
  .theme-button-light {
    height: 25px;
    width: 60px;
    border-radius: 10%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #cbd5e0;
    color: #1a202c;
  }
  
  .theme-button-dark {
    height: 25px;
    width: 60px;
    border-radius: 10%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #2d3748;
    color: #e2e8f0;
  }
  
  .theme-button-light:hover {
    background-color: #e2e8f0;
  }
  
  .theme-button-dark:hover {
    background-color: #1a202c;
  }
  
  